<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INSCRI </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="Controller/app.js"></script>
    <script src="Controller/modele1.js"></script>

    <script src="Controller/mainController1.js"></script>
    <script src="directives/formation.js"></script>

</head>
<body>
  <section class="container" ng-controller="mainController1">
<div class="row">
    <div class="col-md-6">
          <form name="formationForm" class="form">
<h2>Ajouter une formation</h2>
<hr>
<div class="form-group">
<label for="nom"> formation:</label>
<input id="nom" type="text" class="input-sm form-control" ng-model="newFormation.nom">
</div>
<div class="form-group">
<button class="btn btn-primary" type="submit" ng-click="addFormation(newFormation)">ADD</button>
<button class="btn btn-primary" type="reset">Annuler</button>

</div>


          </form>

</div>
</div>
<div class="col-md-6">
    <h2>liste des Formations</h2>
    <hr>
    <article ng-repeat="formation in formations">
      <formation />
    
    </article>  
    </div>




  </section>  
</body>
</html>