<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercice </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

</head>
<body>
    <h1>operations arithmetique avec AngularJS</h1>
    <table class="table table-bordered">
<tr><td>addition</td>
<td>5+10={{5+10}}</td>
</tr>
<Tr>
    <td>multiplication</td>
    <td>5*10= {{5*10}}</td>
</Tr>
<tr><td>Division</td>
<td>10/5= {{10/5}}</td></tr>
    </table>
</body>
</html>